<!DOCTYPE html>
<html lang="en">
   {% load static %}
   <head>
      <script type="importmap">
         {
           "imports": {
             "three": "https://unpkg.com/three@0.149.0/build/three.module.js",
             "OrbitControls": "https://unpkg.com/three@0.149.0/examples/jsm/controls/OrbitControls.js"
           }
         }
      </script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Flight Delay Prediction</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <style>
         body {
         margin: 0;
         overflow: auto;
         background: url('{% static "images/low-angle-shot-mesmerizing-starry-sky.jpg" %}') no-repeat center center fixed;
         background-size: cover;
         color: white;

         }
         #particlesCanvas {
         position: fixed;
         top: 0;
         left: 0;
         width: 100vw;
         height: 100vh;
         z-index: 0; /* So that it's behind the content but covers the body background */
         }
         form {
         background: rgba(0, 0, 0, 0.6);
         padding: 20px;
         border-radius: 10px;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
         position: relative;
         z-index: 1000;
         }
         form h2 {
         border-bottom: 2px solid white;
         padding-bottom: 10px;
         margin-bottom: 20px;
         }
         .form-group {
         margin-bottom: 15px;
         }
         .form-group label {
         display: block;
         margin-bottom: 5px;
         }
         input[type="text"].form-control,
         input[type="date"].form-control,
         input[type="time"].form-control,
         input[type="number"].form-control {
         cursor: url('{% static "images/i-cursor.png" %}'), auto;
         background: rgba(255, 255, 255, 0.9);
         color: black;
         padding: 10px 15px;
         border-radius: 5px;
         border: 1px solid #ccc;
         box-shadow: 0 2px 5px rgba(0,0,0,0.1);
         transition: all 0.3s ease;
         }
         #contentWrapper {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

         input[type="text"].form-control:hover {
         border-color: #b0b0b0;
         box-shadow: 0 3px 6px rgba(0,0,0,0.1);
         }
         input[type="text"].form-control:focus {
         border-color: #007bff;
         box-shadow: 0 3px 6px rgba(0,0,0,0.1);
         outline: none;
         }
         .btn-primary {
         background-color: #007bff;
         border-color: #007bff;
         transition: background-color 0.3s, border-color 0.3s;
         }
         .circle {
         height: 24px;
         width: 24px;
         border-radius: 24px;
         background-color: black;
         position: fixed;
         top: 0;
         left: 0;
         pointer-events: none;
         z-index: 99999999; /* so that it stays on top of all other elements */
         }
         .btn-primary:hover, .btn-primary:focus {
         background-color: #0056b3;
         border-color: #0056b3;
         }
         .container {
         display: flex;
         width: 100vw;
         justify-content: space-between;
         align-items: flex-start;
         padding: 2rem 0;
         }
         #loadingScreen {
         position: fixed;
         top: 0;
         left: 0;
         width: 100vw;
         height: 100vh;
         background-color: #d3e0f1;
         z-index: 9999;
         display: none;
         justify-content: center;
         align-items: center;
         opacity: 0;
         transition: opacity 1s ease-in-out;
         }
         #loadingScreen img {
         max-width: 100vw;
         max-height: 100vh;
         object-fit: contain;
         }
         .left, .right {
         flex: 1;
         padding: 0 1rem;
         }
         #earthContainer {
         padding-top: 20px;
         padding-left: 20px;
         width: calc(100% - 20px);
         height: calc(70vh - 20px);
         z-index: 9;
         {#make the container visible#}
         {#position: relative;#}
         {#background-color: rgba(0, 0, 0, 0.6);#}
         }
         .hidden {
         opacity: 0;
         visibility: hidden;
         transition: opacity 0.2s, visibility 0.2s;
         }
         .visible {
         opacity: 1;
         visibility: visible;
         }
         h2, label {
         color: white;
         }
         .star {
         position: absolute;
         background-color: white;
         width: 2px;
         height: 2px;
         border-radius: 50%;
         z-index: 0;
         }
      </style>
   </head>
   <body>
   <div id="contentWrapper">
      <canvas id="particlesCanvas"></canvas>
      <div id="star-container"></div>
      <div id="rotate-device" class="hidden" style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.7); z-index:9999; text-align:center; padding-top:20%;">
         <img src="{% static 'images/rotate.png' %}" alt="Rotate to Landscape" style="width:50%; max-width:300px;">
         <p style="color:black; font-size:1.5em; margin-top:20px; font-weight:bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Please rotate your device to landscape mode.</p>
      </div>
      <div class="container">
         <div class="left">
            <h2>Flight Delay Prediction</h2>
            <form action="{% url 'predict' %}" method="post">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="airline">Airline:</label>
                        <input type="text" class="form-control" id="airline" placeholder="Enter Airline" name="airline" list="airlines">
                        <datalist id="airlines">
                           {% for airline in airlines %}
                           <option value="{{ airline }}">
                              {% endfor %}
                        </datalist>
                     </div>
                     <div class="form-group">
                     <label for="airport">Airport:</label>
                     <input type="text" class="form-control" id="airport" placeholder="Enter Airport" name="airport" list="airports">
                     <datalist id="airports">
                     {% for airport in airports %}
                     <option value="{{ airport }}">
                     {% endfor %}
                     </datalist>
                     </div>
                     <div class="form-group">
                     <label for="date">Date:</label>
                     <input type="date" class="form-control" id="date" name="date" required>
                     </div>
                     <div class="form-group">
                     <label for="departure_time">Departure Time:</label>
                     <input type="time" class="form-control" id="departure_time" name="departure_time" required>
                     </div>
                  </div>
                  <div class="col-md-6">
                  <div class="form-group">
                  <label for="arrival_time">Arrival Time:</label>
                  <input type="time" class="form-control" id="arrival_time" name="arrival_time" required>
                  </div>
                  <div class="form-group">
                  <label for="flight_duration">Flight Duration (in minutes):</label>
                  <input type="number" class="form-control" id="flight_duration" name="flight_duration" placeholder="e.g., 180 for 3 hours" min="1" required>
                  </div>
                  <div class="form-group">
                  <label for="flight_distance">Flight Distance (in miles):</label>
                  <input type="number" class="form-control" id="flight_distance" name="flight_distance" placeholder="Enter Flight Distance" min="1" required>
                  </div>
                  <div class="form-group">
                  <label for="ticket_price">Ticket Price ($):</label>
                  <input type="number" class="form-control" id="ticket_price" name="ticket_price" placeholder="Enter Ticket Price" min="0" required>
                  </div>
                  </div>
               </div>
               <button type="submit" class="btn btn-primary">Predict</button>
            </form>
         </div>
         <div id="loadingScreen" style="display: none;">
         <img src="{% static 'images/loading.gif' %}" alt="Loading...">
         </div>
         <div class="right">
         <div id="earthContainer"></div>
         </div>
         <div class="right" style="position: absolute; top: 0; left: 50%;">
         <div id="starsContainer"></div>
         </div>
      </div>
      <script>
         const THICKNESS = Math.pow(80, 2);
         const SPACING = 3;
         const COLOR = 220;
         const DRAG = 0.95;
         const EASE = 0.25;

         // Variables
         let canvas, ctx, mx, my, list = [];
         let w, h, ROWS, COLS, NUM_PARTICLES;

         // Particle template
         const particle = {
             vx: 0,
             vy: 0,
             x: 0,
             y: 0
         };

         function init() {
             canvas = document.getElementById('particlesCanvas');
            ctx = canvas.getContext('2d');

            w = canvas.width = window.innerWidth;
            h = canvas.height = window.innerHeight;

            ROWS = Math.floor(h / SPACING);
            COLS = Math.floor(w / SPACING);
            NUM_PARTICLES = ROWS * COLS;


             list = [];

             for (let i = 0; i < NUM_PARTICLES; i++) {
                 const p = Object.create(particle);
                 p.x = p.ox = SPACING * (i % COLS);
                 p.y = p.oy = SPACING * Math.floor(i / COLS);
                 list[i] = p;
             }

             canvas.addEventListener('mousemove', function (e) {
                 mx = e.clientX;
                 my = e.clientY;
             });
         }

         function step() {
         for (let i = 0; i < NUM_PARTICLES; i++) {
         const p = list[i];
         const dx = mx - p.x;
         const dy = my - p.y;
         const d = Math.sqrt(dx * dx + dy * dy);
         const f = -THICKNESS / (d * d);

         if (d < THICKNESS) {
             const t = Math.atan2(dy, dx);
             p.vx += f * Math.cos(t);
             p.vy += f * Math.sin(t);
         }

         p.x += (p.vx *= DRAG) + (p.ox - p.x) * EASE;
         p.y += (p.vy *= DRAG) + (p.oy - p.y) * EASE;
         }

         // Drawing
         const b = (a = ctx.createImageData(w, h)).data;
         for (let i = 0; i < NUM_PARTICLES; i++) {
         const p = list[i];
         const n = (~~p.x + (~~p.y * w)) * 4;

         const dx = mx - p.x;
         const dy = my - p.y;
         const d = Math.sqrt(dx * dx + dy * dy);
         const alpha = Math.min(1, 1 - d / 400);  // Adjust 200 to control the range of the spotlight

         b[n] = b[n + 1] = b[n + 2] = COLOR;
         b[n + 3] = alpha * 255;
         }
         ctx.putImageData(a, 0, 0);

         requestAnimationFrame(step);
         }

         // Adjust canvas dimensions and regenerate particles on window resize
         window.addEventListener('resize', function() {
    w = window.innerWidth;
    h = window.innerHeight;
    canvas.width = w;
    canvas.height = h;
    init();
});

         init();
         step();


      </script>
      <script type="module">
         import * as THREE from 'three';
         import { OrbitControls } from 'OrbitControls';

         function latLongToVector3(lat, lon, radius) {
         const phi = (90 - lat) * (Math.PI / 180);
         const theta = (lon + 180) * (Math.PI / 180);

         const x = -(radius * Math.sin(phi) * Math.cos(theta));
         const y = (radius * Math.cos(phi));
         const z = (radius * Math.sin(phi) * Math.sin(theta));

         return new THREE.Vector3(x, y, z);
         }


         var earthContainer = document.getElementById('earthContainer');
         var scene = new THREE.Scene();

         var camera = new THREE.PerspectiveCamera(75, earthContainer.clientWidth / earthContainer.clientHeight, 0.1, 1000);
         camera.position.set(-0.5, -0.5, 5); // Adjusted camera position

         var renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
         renderer.setSize(earthContainer.clientWidth, earthContainer.clientHeight);
         earthContainer.appendChild(renderer.domElement);

         // Initialize the OrbitControls here
         var controls = new OrbitControls(camera, renderer.domElement);
         controls.enableDamping = true;
         controls.dampingFactor = 0.05;
         controls.autoRotate = true;
         controls.autoRotateSpeed = 0.5;
         controls.target.set(0, 0, 0);
         controls.enableZoom = false; // Disabled zooming
         controls.update();

         var geometry = new THREE.SphereGeometry(2.3, 32, 32);
         var texture = new THREE.TextureLoader().load('{% static "images/earthcolour.jpg" %}');
         var bumpTexture = new THREE.TextureLoader().load(' {% static "images/earthtexturebump.jpg" %}');
         var specularTexture = new THREE.TextureLoader().load('{% static "images/earthspeculartexture.jpg"%}');

         var material = new THREE.MeshPhongMaterial({
             map: texture,
             bumpMap: bumpTexture,
             bumpScale: 0.05,
             specularMap: specularTexture,
             specular: new THREE.Color('grey')
         });

         var sphere = new THREE.Mesh(geometry, material);
         scene.add(sphere);

         const airports = [
            {name: "Indira Gandhi International Airport", lat: 34.555275, lon: 74.096355},
            {name: "John F. Kennedy International Airport", lat: 40.6413+6, lon: -73.7781-3},
            {name: "London Heathrow Airport", lat: 51.4775+6, lon: -0.4614-3},
            {name: "Changi Airport", lat: 1.3644+6, lon: 103.9915},
            {name: "Sydney Kingsford Smith Airport", lat: -33.9461+13, lon: 151.1772-3},
            {name: "Dubai International Airport", lat: 25.2528+6, lon: 55.3644-3},
            {name: "Beijing Capital International Airport", lat: 40.0799+6, lon: 116.6031-3},
            {name: "Los Angeles International Airport", lat: 33.9416+8, lon: -118.4085+3},
            {name: "São Paulo–Guarulhos International Airport", lat: -23.4356+6, lon: -46.4731-3},
            {name: "El Dorado International Airport", lat: 4.7016+6, lon: -74.1469-3},
            {name: "O.R. Tambo International Airport", lat: -26.1392+6, lon: 28.2460-3},
         ];

         // Iterate over the airports and add each one to the scene
         airports.forEach(airport => {
         const airportPosition = latLongToVector3(airport.lat, airport.lon, 2.3);

         // Create label
         const canvas = document.createElement('canvas');
         const context = canvas.getContext('2d');
         context.font = "Bold 50px Arial";  // Keeping the font size as in your code
         const textMetrics = context.measureText(airport.name);
         canvas.width = textMetrics.width;
         canvas.height = 300;  // Keeping the height as in your code
         context.font = "Bold 50px Arial";  // Resetting font after canvas resize
         context.fillStyle = "white";
         context.fillText(airport.name, 0, 50);

         const labelTexture = new THREE.CanvasTexture(canvas);
         const spriteMaterial = new THREE.SpriteMaterial({ map: labelTexture });
         const sprite = new THREE.Sprite(spriteMaterial);
         sprite.position.copy(airportPosition.clone().normalize().multiplyScalar(2.7));
         const aspectRatio = canvas.width / canvas.height;
         sprite.scale.set(aspectRatio, 1, 1);
         sprite.position.y -= 0.2;  // Keeping the position adjustment as in your code
         scene.add(sprite);

         const distance = airportPosition.distanceTo(sprite.position) * 1.3 ;
         const arrowGeometry = new THREE.CylinderGeometry(0.01, 0.01, distance, 32);
         const arrowMaterial = new THREE.MeshBasicMaterial({color: 0xffffff});
         const arrow = new THREE.Mesh(arrowGeometry, arrowMaterial);

         // Create a group, add the arrow to the group
         const group = new THREE.Group();
         group.add(arrow);

         // Position the group at the airport's location
         group.position.copy(airportPosition);

         // Make the group look at the sprite's position
         group.lookAt(sprite.position);

         // Adjust the arrow's position to be in the middle of the distance
         arrow.position.z = distance / 2;

         // Add the group (containing the arrow) to the scene
         scene.add(group);
         });







         var ambientLight = new THREE.AmbientLight(0x999999);
         scene.add(ambientLight);

         var directionalLight = new THREE.DirectionalLight(0xffffff);
         directionalLight.position.set(1, 1, 1).normalize();
         scene.add(directionalLight);

         function animate() {
             requestAnimationFrame(animate);
             controls.update();
             renderer.render(scene, camera);
         }

         function updateAspectRatio() {
             var width = earthContainer.clientWidth;
             var height = earthContainer.clientHeight;
             camera.aspect = width / height;
             camera.updateProjectionMatrix();
             renderer.setSize(width, height);
         }

         function checkOrientation() {
             if (window.innerHeight > window.innerWidth) {
                 // Portrait mode
                 if(document.getElementById("rotate-device").classList.contains('hidden')) {
                     toggleOverlay(); // Show overlay with fade-in effect
                 }
             } else {
                 // Landscape mode
                 if(document.getElementById("rotate-device").classList.contains('visible')) {
                     toggleOverlay(); // Hide overlay with fade-out effect
                 }
             }
         }
         checkOrientation(); // Initial check

         let mouseX = 0;
         let mouseY = 0;

         document.addEventListener('mousemove', (e) => {
             mouseX = e.clientX - window.innerWidth / 2;
             mouseY = e.clientY - window.innerHeight / 2;
         });

         function updateParallax() {
    const parallaxFactor = 0.05;

    const dx = mouseX * parallaxFactor;
    const dy = mouseY * parallaxFactor;

    const earthContainer = document.querySelector('#earthContainer');
    const starContainer = document.querySelector('#star-container');

    earthContainer.style.transform = `translate(${dx}px, ${dy}px)`;
    starContainer.style.transform = `translate(${dx}px, ${dy}px)`;

    requestAnimationFrame(updateParallax);
}


         updateParallax();


         function toggleOverlay() {
             const overlay = document.getElementById('rotate-device');
             if (overlay.classList.contains('hidden')) {
                 overlay.classList.remove('hidden');
                 overlay.classList.add('visible');
             } else {
                 overlay.classList.remove('visible');
                 overlay.classList.add('hidden');
             }
         }

         document.addEventListener('DOMContentLoaded', function() {
         // Create 300 stars
         for (let i = 0; i < 300; i++) {
             let star = document.createElement('div');
             star.className = 'star';
             star.style.top = Math.random() * window.innerHeight + 'px';
             star.style.left = Math.random() * window.innerWidth + 'px';
             document.getElementById('star-container').appendChild(star);

         }

         document.addEventListener('mousemove', (e) => {
             const stars = document.querySelectorAll('.star');
             const mouseX = e.clientX;
             const mouseY = e.clientY;

             stars.forEach(star => {
                 const dx = star.offsetLeft - mouseX;
                 const dy = star.offsetTop - mouseY;
                 const dist = Math.sqrt(dx * dx + dy * dy);

                 const force = Math.max(window.innerWidth, window.innerHeight) / (dist * 5);

                 star.style.transform = `translate(${dx * force}px, ${dy * force}px)`;
             });
         });
         });

         // Initial check
         checkOrientation();

         // Add event listener
         window.addEventListener("resize", checkOrientation);


         window.addEventListener('resize', updateAspectRatio);
         updateAspectRatio();
         animate();
         document.querySelector('form').addEventListener('submit', function(e) {
         e.preventDefault(); // Prevents the form from submitting immediately

         // Show the loading screen
         let loadingScreen = document.getElementById('loadingScreen');
         loadingScreen.style.display = 'flex';
         setTimeout(() => {
         loadingScreen.style.opacity = '1';
         }, 50);

         // After the GIF duration or a set timeout
         setTimeout(function() {
             // If you're using AJAX to fetch results, do it here

             // If you're redirecting to another page, do it here, e.g.,
             // location.href = '/results';

             // For now, let's just submit the form after the delay
             e.target.submit();
         }, 5000); // 5 seconds for demonstration purposes
         });

         const coords = { x: 0, y: 0 };
         const circles = document.querySelectorAll(".circle");

         const colors = [
         "#ffb56b",
         "#fdaf69",
         "#f89d63",
         "#f59761",
         "#ef865e",
         "#ec805d",
         "#e36e5c",
         "#df685c",
         "#d5585c",
         "#d1525c",
         "#c5415d",
         "#c03b5d",
         "#b22c5e",
         "#ac265e",
         "#9c155f",
         "#950f5f",
         "#830060",
         "#7c0060",
         "#680060",
         "#60005f",
         "#48005f",
         "#3d005e"
         ];

         circles.forEach(function (circle, index) {
         circle.x = 0;
         circle.y = 0;
         circle.style.backgroundColor = colors[index % colors.length];
         });

         window.addEventListener("mousemove", function(e){
         coords.x = e.clientX;
         coords.y = e.clientY;

         });


         window.addEventListener("deviceorientation", handleOrientation);

         function handleOrientation(event) {
         const alpha = event.alpha;  // Rotation around the z-axis
         const beta = event.beta;   // Tilt front/back (rotation around x-axis)
         const gamma = event.gamma; // Tilt left/right (rotation around y-axis)

         // Convert degrees to radians and adjust the camera's position
         const radius = 5;  // Distance from the target (center of the Earth)
         const phi = THREE.MathUtils.degToRad(90 - beta);
         const theta = THREE.MathUtils.degToRad(alpha);

         camera.position.x = radius * Math.sin(phi) * Math.cos(theta);
         camera.position.y = radius * Math.cos(phi);
         camera.position.z = radius * Math.sin(phi) * Math.sin(theta);
         camera.lookAt(scene.position);
         }

         // Request permission for gyroscope data
         if (typeof DeviceOrientationEvent.requestPermission === 'function') {
         DeviceOrientationEvent.requestPermission()
             .then(permissionState => {
                 if (permissionState === 'granted') {
                     window.addEventListener('deviceorientation', handleOrientation);
                 }
             })
             .catch(console.error);
         } else {
         // For older browsers
         window.addEventListener('deviceorientation', handleOrientation);
         }


         const formElement = document.querySelector('form');
         formElement.addEventListener('mouseenter', function() {
         circles.forEach(circle => circle.style.zIndex = '0'); // Send to background
         });

         formElement.addEventListener('mouseleave', function() {
         circles.forEach(circle => circle.style.zIndex = '99999999'); // Bring to foreground
         });


         function animateCircles() {

         let x = coords.x;
         let y = coords.y;

         circles.forEach(function (circle, index) {
         circle.style.left = x - 12 + "px";
         circle.style.top = y - 12 + "px";

         circle.style.scale = (circles.length - index) / circles.length;

         circle.x = x;
         circle.y = y;

         const nextCircle = circles[index + 1] || circles[0];
         x += (nextCircle.x - x) * 0.25;
         y += (nextCircle.y - y) * 0.25;
         });

         requestAnimationFrame(animateCircles);
         }

         animateCircles();

      </script>
      <!-- ... (rest of your scripts) ... -->
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <!-- ... (rest of your HTML code) ... -->

<div class="container">
    <!-- Clock Widgets -->
    <div style="display: flex; justify-content: space-around; align-items: center; margin-bottom: 2rem;">
        <div style="height: 100px">
            <script src="https://cdn.logwork.com/widget/digital.js"></script>
            <a href="https://logwork.com/current-time-in-chennai-india-tamil-nadu" class="digital-clock" data-style="round" data-size="150" data-timezone="Asia/Kolkata" data-language="en">Chennai</a>
        </div>
        <div style="height: 100px">
            <script src="https://cdn.logwork.com/widget/digital.js"></script>
            <a href="https://logwork.com/current-time-in-new-york-united-states" class="digital-clock" data-style="round" data-size="150" data-timezone="America/New_York" data-language="en">New York</a>
        </div>
        <div style="height: 100px">
            <script src="https://cdn.logwork.com/widget/digital.js"></script>
            <a href="https://logwork.com/current-time-in-tokyo-japan" class="digital-clock" data-style="round" data-size="150" data-timezone="Asia/Tokyo" data-language="en">Tokyo,  Japan</a>
        </div>
        <div style="height: 100px">
        <script src="https://cdn.logwork.com/widget/digital.js"></script>
        <a href="https://logwork.com/current-time-in-london-united-kingdom-city-of-london" class="digital-clock" data-style="round" data-size="150" data-timezone="Europe/London" data-language="en">London</a>
    </div>
    <div style="height: 100px">
        <script src="https://cdn.logwork.com/widget/digital.js"></script>
        <a href="https://logwork.com/current-time-in-cape-town-south-africa-western-cape" class="digital-clock" data-style="round" data-size="150" data-timezone="Africa/Johannesburg" data-language="en">Cape Town</a>
    </div>
    <div style="height: 100px">
        <script src="https://cdn.logwork.com/widget/digital.js"></script>
        <a href="https://logwork.com/current-time-in-rio-de-janeiro-brazil" class="digital-clock" data-style="round" data-size="150" data-timezone="America/Sao_Paulo" data-language="en">Rio de Janeiro</a>
    </div>
        <div style="height: 100px">
        <script src="https://cdn.logwork.com/widget/digital.js"></script>
<a href="https://logwork.com/current-time-in-singapore-singapore" class="digital-clock" data-style="round" data-size="150" data-timezone="Asia/Singapore" data-language="en">Singapore</a>
    </div>
    </div>

    <!-- Earth and Form -->
    <div style="display: flex; justify-content: space-around; align-items: flex-start;">
        <!-- Form on the left -->
        <div style="flex: 1; max-width: 45%; margin-right: 2rem;">
            <!-- ... Your form code here ... -->
        </div>

        <!-- Earth on the right -->
        <div style="flex: 1; max-width: 45%;">
            <div id="earthContainer"></div>
        </div>
    </div>
</div>

<!-- ... (rest of your scripts) ... -->

   </div>
   </body>
</html>